<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sprite_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{450,310}}</string>
        <key>offset</key>
        <string>{0,25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,45},{450,310}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{450,308}}</string>
        <key>offset</key>
        <string>{0,26}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,45},{450,308}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>four_card-2.png</string>
      <key>size</key>
      <string>{900,310}</string>
      <key>textureFileName</key>
      <string>four_card-2</string>
    </dict>
  </dict>
</plist>
