<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sprite_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{644,675}}</string>
        <key>offset</key>
        <string>{0,11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{218,191},{644,675}}</string>
        <key>sourceSize</key>
        <string>{1080,1080}</string>
      </dict>
      <key>sprite_000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,675},{633,675}}</string>
        <key>offset</key>
        <string>{5.5,11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{229,191},{633,675}}</string>
        <key>sourceSize</key>
        <string>{1080,1080}</string>
      </dict>
      <key>sprite_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1350},{633,675}}</string>
        <key>offset</key>
        <string>{5.5,11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{229,191},{633,675}}</string>
        <key>sourceSize</key>
        <string>{1080,1080}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>straight-17.png</string>
      <key>size</key>
      <string>{644,2025}</string>
      <key>textureFileName</key>
      <string>straight-17</string>
    </dict>
  </dict>
</plist>
