<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sprite_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{450,450}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{450,450}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,450},{450,450}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{450,450}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,900},{450,450}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{450,450}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1350},{450,360}}</string>
        <key>offset</key>
        <string>{0,-45}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,90},{450,360}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1800},{229,248}}</string>
        <key>offset</key>
        <string>{-1.5,11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{109,90},{229,248}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,1800},{228,248}}</string>
        <key>offset</key>
        <string>{-1,11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{110,90},{228,248}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,1350},{450,360}}</string>
        <key>offset</key>
        <string>{0,-45}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,90},{450,360}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,1800},{228,248}}</string>
        <key>offset</key>
        <string>{-1,11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{110,90},{228,248}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{685,1800},{228,248}}</string>
        <key>offset</key>
        <string>{-1,11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{110,90},{228,248}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{913,0},{450,360}}</string>
        <key>offset</key>
        <string>{0,-45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,90},{450,360}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{450,360}}</string>
        <key>offset</key>
        <string>{0,-45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,90},{450,360}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{1363,0},{450,360}}</string>
        <key>offset</key>
        <string>{0,-45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,90},{450,360}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1813,0},{228,248}}</string>
        <key>offset</key>
        <string>{-1,11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{110,90},{228,248}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,360},{450,360}}</string>
        <key>offset</key>
        <string>{0,-45}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,90},{450,360}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,810},{450,333}}</string>
        <key>offset</key>
        <string>{0,14.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,333}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,1260},{450,333}}</string>
        <key>offset</key>
        <string>{0,14.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,333}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{783,810},{450,333}}</string>
        <key>offset</key>
        <string>{0,14.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,333}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{1116,810},{450,333}}</string>
        <key>offset</key>
        <string>{0,14.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,333}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,360},{450,333}}</string>
        <key>offset</key>
        <string>{0,14.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,333}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{1143,360},{450,333}}</string>
        <key>offset</key>
        <string>{0,14.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,333}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{913,1710},{450,333}}</string>
        <key>offset</key>
        <string>{0,14.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,333}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{1053,1260},{450,333}}</string>
        <key>offset</key>
        <string>{0,14.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,333}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{1363,1710},{450,333}}</string>
        <key>offset</key>
        <string>{0,14.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,333}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{1386,1260},{450,333}}</string>
        <key>offset</key>
        <string>{0,14.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,333}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{1449,810},{450,332}}</string>
        <key>offset</key>
        <string>{0,15}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,332}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{1719,360},{450,329}}</string>
        <key>offset</key>
        <string>{0,16.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,329}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{1719,1260},{450,328}}</string>
        <key>offset</key>
        <string>{0,17}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,328}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>straight_flush-0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>straight_flush-0</string>
    </dict>
  </dict>
</plist>
