<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sprite_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{450,332}}</string>
        <key>offset</key>
        <string>{0,15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,332}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{450,332}}</string>
        <key>offset</key>
        <string>{0,15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,332}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,0},{450,332}}</string>
        <key>offset</key>
        <string>{0,15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,332}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{1350,0},{450,332}}</string>
        <key>offset</key>
        <string>{0,15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,332}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,332},{450,331}}</string>
        <key>offset</key>
        <string>{0,15.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,331}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,782},{450,331}}</string>
        <key>offset</key>
        <string>{0,15.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,331}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1232},{450,330}}</string>
        <key>offset</key>
        <string>{0,16}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,330}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1682},{450,330}}</string>
        <key>offset</key>
        <string>{0,16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,330}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,1232},{450,327}}</string>
        <key>offset</key>
        <string>{0,17.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,327}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,1682},{450,326}}</string>
        <key>offset</key>
        <string>{0,18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,1682},{450,324}}</string>
        <key>offset</key>
        <string>{0,19}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,324}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{1350,1682},{450,323}}</string>
        <key>offset</key>
        <string>{0,19.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,323}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,332},{450,321}}</string>
        <key>offset</key>
        <string>{0,20.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,321}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,782},{450,320}}</string>
        <key>offset</key>
        <string>{0,21}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,320}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{651,782},{450,318}}</string>
        <key>offset</key>
        <string>{0,22}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,318}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{969,782},{450,316}}</string>
        <key>offset</key>
        <string>{0,23}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,316}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{657,1232},{450,314}}</string>
        <key>offset</key>
        <string>{0,24}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,314}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{971,1232},{450,312}}</string>
        <key>offset</key>
        <string>{0,25}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,312}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1283,1232},{450,312}}</string>
        <key>offset</key>
        <string>{0,25}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,312}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{652,332},{450,312}}</string>
        <key>offset</key>
        <string>{0,25}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,312}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{964,332},{450,312}}</string>
        <key>offset</key>
        <string>{0,25}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,312}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{1276,332},{450,312}}</string>
        <key>offset</key>
        <string>{0,25}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,312}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{1285,782},{450,312}}</string>
        <key>offset</key>
        <string>{0,25}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,312}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{1595,1232},{450,312}}</string>
        <key>offset</key>
        <string>{0,25}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,312}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{1588,332},{450,312}}</string>
        <key>offset</key>
        <string>{0,25}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,312}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>sprite_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{1597,782},{450,312}}</string>
        <key>offset</key>
        <string>{0,25}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,44},{450,312}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>straight_flush-1.png</string>
      <key>size</key>
      <string>{1909,2012}</string>
      <key>textureFileName</key>
      <string>straight_flush-1</string>
    </dict>
  </dict>
</plist>
