<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>a_clubs.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{441,541}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{441,541}}</string>
        <key>sourceSize</key>
        <string>{441,541}</string>
      </dict>
      <key>eight_clubs.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,541},{441,541}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{441,541}}</string>
        <key>sourceSize</key>
        <string>{441,541}</string>
      </dict>
      <key>five_clubs.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1082},{441,541}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{441,541}}</string>
        <key>sourceSize</key>
        <string>{441,541}</string>
      </dict>
      <key>four_clubs.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,0},{441,541}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{441,541}}</string>
        <key>sourceSize</key>
        <string>{441,541}</string>
      </dict>
      <key>j_clubs.png</key>
      <dict>
        <key>frame</key>
        <string>{{982,0},{441,541}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{441,541}}</string>
        <key>sourceSize</key>
        <string>{441,541}</string>
      </dict>
      <key>k_clubs.png</key>
      <dict>
        <key>frame</key>
        <string>{{1523,0},{441,541}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{441,541}}</string>
        <key>sourceSize</key>
        <string>{441,541}</string>
      </dict>
      <key>nine_clubs.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,441},{441,541}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{441,541}}</string>
        <key>sourceSize</key>
        <string>{441,541}</string>
      </dict>
      <key>q_clubs.png</key>
      <dict>
        <key>frame</key>
        <string>{{982,441},{441,541}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{441,541}}</string>
        <key>sourceSize</key>
        <string>{441,541}</string>
      </dict>
      <key>seven_clubs.png</key>
      <dict>
        <key>frame</key>
        <string>{{1523,541},{441,541}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{441,541}}</string>
        <key>sourceSize</key>
        <string>{441,541}</string>
      </dict>
      <key>six_clubs.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,1082},{441,541}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{441,541}}</string>
        <key>sourceSize</key>
        <string>{441,541}</string>
      </dict>
      <key>ten_clubs.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,882},{441,541}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{441,541}}</string>
        <key>sourceSize</key>
        <string>{441,541}</string>
      </dict>
      <key>three_clubs.png</key>
      <dict>
        <key>frame</key>
        <string>{{1423,1082},{441,541}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{441,541}}</string>
        <key>sourceSize</key>
        <string>{441,541}</string>
      </dict>
      <key>two_clubs.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,1323},{441,541}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{441,541}}</string>
        <key>sourceSize</key>
        <string>{441,541}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>clubs.png</string>
      <key>size</key>
      <string>{1964,1764}</string>
      <key>textureFileName</key>
      <string>clubs</string>
    </dict>
  </dict>
</plist>
