<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>a_hearts.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{441,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{441,540}}</string>
        <key>sourceSize</key>
        <string>{441,540}</string>
      </dict>
      <key>eight_hearts.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,540},{441,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{441,540}}</string>
        <key>sourceSize</key>
        <string>{441,540}</string>
      </dict>
      <key>five_hearts.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1080},{441,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{441,540}}</string>
        <key>sourceSize</key>
        <string>{441,540}</string>
      </dict>
      <key>four_hearts.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,0},{441,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{441,540}}</string>
        <key>sourceSize</key>
        <string>{441,540}</string>
      </dict>
      <key>j_hearts.png</key>
      <dict>
        <key>frame</key>
        <string>{{981,0},{441,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{441,540}}</string>
        <key>sourceSize</key>
        <string>{441,540}</string>
      </dict>
      <key>k_hearts.png</key>
      <dict>
        <key>frame</key>
        <string>{{1521,0},{441,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{441,540}}</string>
        <key>sourceSize</key>
        <string>{441,540}</string>
      </dict>
      <key>nine_hearts.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,441},{441,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{441,540}}</string>
        <key>sourceSize</key>
        <string>{441,540}</string>
      </dict>
      <key>q_hearts.png</key>
      <dict>
        <key>frame</key>
        <string>{{981,441},{441,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{441,540}}</string>
        <key>sourceSize</key>
        <string>{441,540}</string>
      </dict>
      <key>seven_hearts.png</key>
      <dict>
        <key>frame</key>
        <string>{{1521,540},{441,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{441,540}}</string>
        <key>sourceSize</key>
        <string>{441,540}</string>
      </dict>
      <key>six_hearts.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,1080},{441,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{441,540}}</string>
        <key>sourceSize</key>
        <string>{441,540}</string>
      </dict>
      <key>ten_hearts.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,882},{441,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{441,540}}</string>
        <key>sourceSize</key>
        <string>{441,540}</string>
      </dict>
      <key>three_hearts.png</key>
      <dict>
        <key>frame</key>
        <string>{{1422,1080},{441,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{441,540}}</string>
        <key>sourceSize</key>
        <string>{441,540}</string>
      </dict>
      <key>two_hearts.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,1323},{441,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{441,540}}</string>
        <key>sourceSize</key>
        <string>{441,540}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>hearts.png</string>
      <key>size</key>
      <string>{1962,1764}</string>
      <key>textureFileName</key>
      <string>hearts</string>
    </dict>
  </dict>
</plist>
