<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>23.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{362,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{362,75}}</string>
        <key>sourceSize</key>
        <string>{362,75}</string>
      </dict>
      <key>24.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,0},{362,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{362,75}}</string>
        <key>sourceSize</key>
        <string>{362,75}</string>
      </dict>
      <key>10.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,0},{175,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,75}}</string>
        <key>sourceSize</key>
        <string>{175,75}</string>
      </dict>
      <key>11.png</key>
      <dict>
        <key>frame</key>
        <string>{{899,0},{175,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,75}}</string>
        <key>sourceSize</key>
        <string>{175,75}</string>
      </dict>
      <key>12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1074,0},{175,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,75}}</string>
        <key>sourceSize</key>
        <string>{175,75}</string>
      </dict>
      <key>13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1249,0},{175,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,75}}</string>
        <key>sourceSize</key>
        <string>{175,75}</string>
      </dict>
      <key>14.png</key>
      <dict>
        <key>frame</key>
        <string>{{1424,0},{175,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,75}}</string>
        <key>sourceSize</key>
        <string>{175,75}</string>
      </dict>
      <key>15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1599,0},{175,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,75}}</string>
        <key>sourceSize</key>
        <string>{175,75}</string>
      </dict>
      <key>16.png</key>
      <dict>
        <key>frame</key>
        <string>{{1774,0},{175,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,75}}</string>
        <key>sourceSize</key>
        <string>{175,75}</string>
      </dict>
      <key>17.png</key>
      <dict>
        <key>frame</key>
        <string>{{1949,0},{175,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,75}}</string>
        <key>sourceSize</key>
        <string>{175,75}</string>
      </dict>
      <key>18.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,175},{175,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,75}}</string>
        <key>sourceSize</key>
        <string>{175,75}</string>
      </dict>
      <key>19.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,75},{175,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,75}}</string>
        <key>sourceSize</key>
        <string>{175,75}</string>
      </dict>
      <key>20.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,350},{175,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,75}}</string>
        <key>sourceSize</key>
        <string>{175,75}</string>
      </dict>
      <key>21.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,525},{175,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,75}}</string>
        <key>sourceSize</key>
        <string>{175,75}</string>
      </dict>
      <key>22.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,700},{175,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,75}}</string>
        <key>sourceSize</key>
        <string>{175,75}</string>
      </dict>
      <key>25.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,875},{175,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,75}}</string>
        <key>sourceSize</key>
        <string>{175,75}</string>
      </dict>
      <key>26.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1050},{175,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,75}}</string>
        <key>sourceSize</key>
        <string>{175,75}</string>
      </dict>
      <key>9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1225},{175,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,75}}</string>
        <key>sourceSize</key>
        <string>{175,75}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>tools.png</string>
      <key>size</key>
      <string>{2024,1400}</string>
      <key>textureFileName</key>
      <string>tools</string>
    </dict>
  </dict>
</plist>
