<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>icon_coin_black.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{512,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{512,512}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>icon_dolar.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,512},{266,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{266,512}}</string>
        <key>sourceSize</key>
        <string>{266,512}</string>
      </dict>
      <key>icon_poker.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1024},{492,428}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{492,428}}</string>
        <key>sourceSize</key>
        <string>{492,428}</string>
      </dict>
      <key>icon_logout.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,512},{458,478}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{458,478}}</string>
        <key>sourceSize</key>
        <string>{458,478}</string>
      </dict>
      <key>icon_down.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,990},{24,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,24}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>icon_chat.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,990},{20,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{20,20}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>icon_send.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,1010},{17,14}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,3},{17,14}}</string>
        <key>sourceSize</key>
        <string>{20,20}</string>
      </dict>
      <key>icon_coin.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,0},{186,186}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,186}}</string>
        <key>sourceSize</key>
        <string>{186,186}</string>
      </dict>
      <key>icon_cash.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,186},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>icon_info.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,314},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>icon_facebook.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,442},{68,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,128}}</string>
        <key>sourceSize</key>
        <string>{68,128}</string>
      </dict>
      <key>icon_room.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,186},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>icon_play.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,0},{120,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,128}}</string>
        <key>sourceSize</key>
        <string>{120,128}</string>
      </dict>
      <key>icon_error.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,128},{64,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,58}}</string>
        <key>sourceSize</key>
        <string>{64,58}</string>
      </dict>
      <key>icon_warning.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,128},{58,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,58}}</string>
        <key>sourceSize</key>
        <string>{58,58}</string>
      </dict>
      <key>icon_points.png</key>
      <dict>
        <key>frame</key>
        <string>{{818,0},{112,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,128}}</string>
        <key>sourceSize</key>
        <string>{112,128}</string>
      </dict>
      <key>icon_bell.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,314},{108,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,128}}</string>
        <key>sourceSize</key>
        <string>{108,128}</string>
      </dict>
      <key>icon_close.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,442},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>icon_info2.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,442},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>icon_telegram.png</key>
      <dict>
        <key>frame</key>
        <string>{{748,314},{128,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,108}}</string>
        <key>sourceSize</key>
        <string>{128,108}</string>
      </dict>
      <key>icon_user.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,186},{108,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,128}}</string>
        <key>sourceSize</key>
        <string>{108,128}</string>
      </dict>
      <key>icon_capital.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,128},{57,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,58}}</string>
        <key>sourceSize</key>
        <string>{57,58}</string>
      </dict>
      <key>icon_check.png</key>
      <dict>
        <key>frame</key>
        <string>{{913,128},{58,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,56}}</string>
        <key>sourceSize</key>
        <string>{58,56}</string>
      </dict>
      <key>icon_email.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,0},{128,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,90}}</string>
        <key>sourceSize</key>
        <string>{128,90}</string>
      </dict>
      <key>icon_card.png</key>
      <dict>
        <key>frame</key>
        <string>{{1020,0},{128,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,88}}</string>
        <key>sourceSize</key>
        <string>{128,88}</string>
      </dict>
      <key>icon_lose.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1516},{98,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,124}}</string>
        <key>sourceSize</key>
        <string>{98,124}</string>
      </dict>
      <key>icon_daimond.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1640},{122,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,106}}</string>
        <key>sourceSize</key>
        <string>{122,106}</string>
      </dict>
      <key>icon_gold.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,1516},{122,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,106}}</string>
        <key>sourceSize</key>
        <string>{122,106}</string>
      </dict>
      <key>icon_silver.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1762},{122,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,106}}</string>
        <key>sourceSize</key>
        <string>{122,106}</string>
      </dict>
      <key>icon_remove_acc.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1884},{120,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,121}}</string>
        <key>sourceSize</key>
        <string>{120,121}</string>
      </dict>
      <key>icon_down2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2005},{62,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,36}}</string>
        <key>sourceSize</key>
        <string>{62,36}</string>
      </dict>
      <key>icon_history.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,1638},{112,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,112}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>icon_rule.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,1516},{73,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,112}}</string>
        <key>sourceSize</key>
        <string>{73,112}</string>
      </dict>
      <key>icon_save.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,1750},{94,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,110}}</string>
        <key>sourceSize</key>
        <string>{94,110}</string>
      </dict>
      <key>icon_win.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,1860},{98,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,100}}</string>
        <key>sourceSize</key>
        <string>{98,100}</string>
      </dict>
      <key>icon_arr_left.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,1960},{76,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,76}}</string>
        <key>sourceSize</key>
        <string>{76,76}</string>
      </dict>
      <key>icon_arr_right.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,1960},{76,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,76}}</string>
        <key>sourceSize</key>
        <string>{76,76}</string>
      </dict>
      <key>icon_light1.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1750},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>icon_light2.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,1628},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>icon_change.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,1692},{56,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,64}}</string>
        <key>sourceSize</key>
        <string>{56,64}</string>
      </dict>
      <key>icon_mute.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,1516},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>icon_success.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,1580},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,48}}</string>
        <key>sourceSize</key>
        <string>{48,48}</string>
      </dict>
      <key>icon_sticker.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,1814},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>icon_volume.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,1748},{64,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,60}}</string>
        <key>sourceSize</key>
        <string>{64,60}</string>
      </dict>
      <key>icon_group.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,1878},{64,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,54}}</string>
        <key>sourceSize</key>
        <string>{64,54}</string>
      </dict>
      <key>icon_wreath.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,1628},{64,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,50}}</string>
        <key>sourceSize</key>
        <string>{64,50}</string>
      </dict>
      <key>icon_leave.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,1692},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,56}}</string>
        <key>sourceSize</key>
        <string>{56,56}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>icon.png</string>
      <key>size</key>
      <string>{1108,2041}</string>
      <key>textureFileName</key>
      <string>icon</string>
    </dict>
  </dict>
</plist>
