<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bb.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{106,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,106}}</string>
        <key>sourceSize</key>
        <string>{106,106}</string>
      </dict>
      <key>sb.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,106},{106,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,106}}</string>
        <key>sourceSize</key>
        <string>{106,106}</string>
      </dict>
      <key>sl.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,212},{106,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,106}}</string>
        <key>sourceSize</key>
        <string>{106,106}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>slinds.png</string>
      <key>size</key>
      <string>{106,318}</string>
      <key>textureFileName</key>
      <string>slinds</string>
    </dict>
  </dict>
</plist>
