<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>allin.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>call.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,128},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>check.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,256},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>fold.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,384},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>full.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,512},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>half.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,640},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>quarter.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,768},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>raise.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,896},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>status.png</string>
      <key>size</key>
      <string>{128,1024}</string>
      <key>textureFileName</key>
      <string>status</string>
    </dict>
  </dict>
</plist>
